#root {
  width: 100%;
  min-height: 100vh;
  background-color: #030247;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1; /* ocupa el espacio disponible */
}
